.navbar{
    display: flex;
    gap: 5px 10px;
    background-color: rgb(37, 37, 37);
    color: white;
}
.nav-logo{
    flex: 1;
}
.nav-img{
    margin: 5px 10px;
    font-size: 3rem;
}

.nav-tools{
    flex: 2;
    font-size: 1.2rem;
    display: flex;
    font-weight: 600;
    justify-content: space-around;
    align-items: center;
}
.nav-tools>span{
    cursor: pointer;
}
.search-holder{
    background-color: white;
    padding: 5px 10px;
    color: black;
}
.search-holder>input{
    outline: none;
    border: none;
}